$def with(version)

<html lang="en">
    <head>
        <title>Bavarder $version Changelog</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114307532-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-114307532-3');
        </script>
        <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
        <meta name="theme-color" content="#d32f2f">
        <link href="/material.css" type="text/css" rel="stylesheet">
        <link href="/toggle-md.css" type="text/css" rel="stylesheet">
        <link rel="manifest" href="/manifest.webmanifest">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Bavarder is a messaging PWA for Google Chrome.">
    </head>
    <body>
        <div class="hd" style="background: #d32f2f; color: white">
            <h2><i class="material-icons" onclick="window.location.href='/'">arrow_back</i>$version Changelog</h2>
        </div>
        <div class="card">
            <h3>What's New</h3>
            <p>Notifcation screen</p>
            <p>Search FAB on scroll</p>
            <p>Fixed case sensitivity of search</p>
    </body>
</html>