<!DOCTYPE html>
<html>
    <head>
        <title>Create Account</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114307532-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-114307532-3');
        </script>
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">
        <meta name="theme-color" content="#1565c0">
        <link href="https://stormprograms.com/material.css" type="text/css" rel="stylesheet">
        <link rel="manifest" href="/manifest.webmanifest">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Bavarder is a messaging PWA for Google Chrome.">
    </head>
    <body>
        <div class="hd" style="background: #1565c0; color: white; padding-bottom: 10.5px;">
            Storm Programs: Bavarder
        </div>

        <div class="card">
            <h3>Create Account</h3>
            <form method="POST">
                <input id="email" name="email" placeholder="email" />
                <br>
                <br>
                <input id="pswd" name="pswd" placeholder="password" autocomplete="current-password" type="password" />
                <br>
                <br>
                <button type="submit">CREATE ACCOUNT</button>
            </form>
        </div>
    </body>
</html>