$def with(users)
<div class="hd wrapper3">
    <div style="text-align: left;">
        <button style="background: white; border: 0 none; color: black; box-shadow: 0 0 0 white; padding: 0; margin: 0;"  onclick="show_signin_card()"><i class="material-icons" style="font-size: 32px;">person</i></button>
        <div  style="left: 16px; position: fixed; display: none; top: 48px" id="gsignininfo">
            <div class="g-signin2" data-onsuccess="onSignIn" data-theme="light"></div>
        </div>
    </div>
    <h2 style="text-align: center;">Bavarder</h2>
    <div style="text-align: right;">
        <i class="material-icons" style="font-size: 32px;" onclick="show_info_cards()">more_vert</i>
        <div class="info" id="info" onclick="window.location.href = 'https://github.com/storm246/bavarder'">
            Visit Github
        </div>
    </div>
</div>

<div class="scroll" onscroll="osc(0,0)">
    <div class="chatbutton" style="color: #d32f2f; text-align: center;" onclick="add_chat_action()">
        <h3><i class="material-icons" style="font-size: 32px">add_circle</i>Add Chat</h3>
    </div>
    $for x in range(len(users)):
        <div class="chatbutton" style="text-align: center;" onclick="chat_action('$users[x]')">
            <h3>$users[x]</h3>
        </div>
</div>

<div class="add_chat_screen">
    <div class="hd">
        <h2><i class="material-icons" style="font-size: 32px" onclick="back_add_chat_action()">arrow_back</i>Add Chat</h2>
    </div>
    <div class="card">
        <form id="add_form" action="/" method="POST">
            <input type="text" name="user" placeholder="username" id="unameip" />
            <br />
            <br />
        </form>
        <button id="add_btn" style="background: lightgrey; color: black" onclick="sub_add_form()" disabled><b>ADD</b></button>
    </div>
</div>

<div class="chat_screen">
    <div class="hd">
        <h2><i class="material-icons" style="font-size: 32px" onclick="back_chat_action()">arrow_back</i><b id="user"></b></h2>
    </div>
    <div class="wrappermsg">
        <div class="messagebar">
            <input type="text" style="border: 0 none; margin-top: 12px;" placeholder="Message" />
            <form id="messagefield">
            </form>
        </div>
        <div class="fib">
            <i class="material-icons" style="font-size: 32px">send</i>
        </div>
    </div>
</div>