$def with(sdr, version)
<!doctype HTML>
<html lang="en">
    <head>
        <title>Bavarder $version</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114307532-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());

            gtag('config', 'UA-114307532-3');
        </script>
        <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
        <meta name="theme-color" content="#d32f2f">
        <link href="/material.css" type="text/css" rel="stylesheet">
        <link href="/toggle-md.css" type="text/css" rel="stylesheet">
        <link rel="manifest" href="/manifest.webmanifest">
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="878100810498-2vuvkmjq280vou2p2l5ksatl1ai39qpa.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/bavarder.js"></script>
        <script src="/settings.js"></script>
        <script src="/msgscreen.js"></script>
        <meta name="description" content="Bavarder is a messaging PWA for Google Chrome.">
    </head>
    <body>
        <!--Main Page-->
        <div class="scroll" onscroll="osc(0,0)">
            <div class="wrapperhd" style="grid-template-columns: 56px 1fr 56px;">
                <div></div>
                <h2 style="text-align: center; color: #d32f2f">Bavarder <span style="color: black" id="versionnum" onclick="window.location.href='/changelog'">$version</span></h2>
                <div><i class="material-icons" style="margin-top: 24px; margin-right: 24px;" onclick="openSearch()">search</i></div>
            </div>
            <div id="users"></div>
        </div>
        <div class="bottomnav">
            <div class="leftbtns">
                <div class="hdiconbtn" id="signinbtn" onclick="showprofile()">
                    <i class="material-icons" style="font-size: 24px;">person</i>
                </div>
                <button id="installbutton">
                    <i class="material-icons" style="padding: 0px; margin-left: 0px;" id="installicon">get_app</i>
                    <span style="display: inline" id="installtext">Install App</span>
                </button>
            </div>
            <div class="rightbtns">
                <div></div>
                <i class="material-icons" onclick="notifAction()">notifications</i>
                <i class="material-icons" style="font-size: 24px;" onclick="opensettings()">settings</i>
            </div>
        </div>
        <div class="fab" onclick="add_chat_action()" id="add_chat_fab">
            <i class="material-icons">add</i><span style="display: inline; padding-right: 8px" id="add_chat_fab_text"><b>Add Contact</b></span>
        </div>
        <div class="fab" onclick="openSearch()" id="search_fab" style="margin-right: 0; right: -64px; bottom: 96px; background: #d32f2f; color: white;">
            <i class="material-icons">search</i>
        </div>





        <!--Search-->
        <div class="search action" id="search">
            <div class="card wrappersearch" style="text-align: left; margin-top: 8px;">
                <i class="material-icons" style="font-size: 24px; margin-top: 12px;" onclick="backSearch()">arrow_back</i>
                <input type="text" id="searchinput" style="box-shadow: 0 0 0 #00000000; text-align: left;" class="card" placeholder="Search" />
            </div>
            <div class="scroll" style="position: relative" id="results"></div>
        </div>






        <!--Profile-->
        <div class="profile action" id="profile">
            <div class="hd">
                <h2>
                    <i class="material-icons" style="font-size: 32px" onclick="back_profile()">arrow_back</i>
                    Profile
                </h2>
            </div>
            <div class="card" id="signinscreen">
                <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark" style="text-align: center;"></div>
            </div>
            <div class="scroll" id="profilepage">
                <div class="card">
                    <div id="profileimg"></div>
                    <h2 id="name"></h2>
                </div>
                <div class="card">
                    <h2>Profile Settings</h2>
                    <button onclick="opendeletecon()">
                        <b>DELETE PROFILE</b>
                    </button>
                    <br />
                    <button onclick="signOut()" style="margin-top: 4px;">
                        <b>SIGN OUT</b>
                    </button>
                </div>
            </div>
            <div class="deletecon">
                <div class="dialogue">
                    <h6 style="font-size: 20; margin: 0;">Delete your account?</h6>
                    <p style="font-size: 16px;">This will delete all contacts and settings. This will not sign you out.</p>
                    <div class='wrapper3'>
                        <div></div>
                        <button onclick="hidedeletecon()">
                            <b>CANCEL</b>
                        </button>
                        <button onclick="deleteprof()">
                            <b>OK</b>
                        </button>
                    </div>
                </div>
            </div>
        </div>







        <!--Add Chat-->
        <div class="add_chat_screen action" id="add_chat">
            <div class="hd">
                <h2>
                    <i class="material-icons" style="font-size: 32px" onclick="back_add_chat_action()">arrow_back</i>
                    Add Chat
                </h2>
            </div>
            <div class="card">
                <br/>
                <form id="add_form" action="/" method="POST">
                    <input type="text" name="user" placeholder="username" id="unameip"/>
                    <input type="hidden" name="email" id="email"/>
                    <input type="hidden" name="notifid" id="notifid"/>
                    <input type="hidden" name="picurl" id="picurl"/>
                    <br/>
                    <br/>
                    <button type="submit" id="add_btn" style="background: lightgrey; color: black" disabled>
                        <b>ADD</b>
                    </button>
                </form>
            </div>
        </div>







        <!--Settings-->
        <div class="settings_screen action">
            <div class="hd">
                <h2>
                    <i class="material-icons" style="font-size: 32px" onclick="back_settings_action()">arrow_back</i>
                    Settings
                </h2>
            </div>
            <div class="scroll" id="settings_main">
                <div class="card" id="settings-general">
                    <h3>General</h3>
                    <br/>
                    <form action="/changesetting" method="POST">
                        <div>
                            <h5>Theme</h5>
                            <label>
                                Enable Dark Theme
                                <input class="simple-switch-input" id="darktoggle" name="dark" type="checkbox"/>
                                <span class="simple-switch dark"></span>
                            </label>
                            <br/>
                            <label>
                                Use Noir Mode (Deeper blacks; Saves power on devices with OLED and AMOLED screens)
                                <input class="simple-switch-input" id="noirmode" name="noirmode" type="checkbox"/>
                                <span class="simple-switch dark"></span>
                            </label>
                        </div>
                        <input type="hidden" name="email" id="emailform"/>
                        <br/>
                        <button type="submit" id="applybutton" style="color: white; background: #d32f2f">
                            <b>APPLY</b>
                        </button>
                    </form>
                </div>
            </div>
            <div class="card" id="signinmsg">
                <h3>You must be signed in to change settings.</h3>
            </div>
        </div>





        <!--Notifications Screen-->
        <div class="notif_screen action" id="notif_screen">
            <div class="hd">
                <h2>
                    <i class="material-icons" style="font-size: 32px" onclick="back_notifs_action()">arrow_back</i>
                    Notifications
                </h2>
            </div>
            <div class="scroll" style="top: 64px;" id="ctnotifs"></div>
        </div>





        
        <!--Chat Screen-->
        <div class="chat_screen action">
            <div class="hd">
                <h2>
                    <i class="material-icons" style="font-size: 32px" onclick="back_chat_action()">arrow_back</i>
                    <b id="user"></b>
                </h2>
            </div>
            <div id="messages" class="scroll"></div>
            <div class="wrappermsg">
                <div class="messagebar">
                    <form id="messagefield" onkeypress="return event.keyCode != 13;" autocomplete="off">
                        <input type="text" name="message" id="messagefld" style="border: 0 none; margin-top: 8px; font-size: 16px; border-radius: 24px; width: 100%; box-shadow: 0 6px 12px #00000061; padding-top: 16px; padding-bottom: 16px; padding-left: 4px;" placeholder="Message"/>
                        <input type="hidden" name="email" id="emailform2"/>
                        <input type="hidden" name="to" id="toform"/>
                        <input type="hidden" id="lastnumber" name="lastnumber" value="-1"/>
                        <input name="messagecount" id="messagecount" type="hidden"/>
                    </form>
                </div>
                <div class="fib" onclick="waittosend()">
                    <div id="fibtext">
                        <i class="material-icons" style="font-size: 32px">send</i>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-messaging.js"></script>
<script>
    // Initialize Firebase
    var config = {
        apiKey: "AIzaSyCfxMM6szjWuTkHX_U55VLA5OTTNhCRmHo",
        authDomain: "lightningchat-1.firebaseapp.com",
        databaseURL: "https://lightningchat-1.firebaseio.com",
        projectId: "lightningchat-1",
        storageBucket: "lightningchat-1.appspot.com",
        messagingSenderId: "878100810498"
    };
    firebase.initializeApp(config);
    const messaging = firebase.messaging()

    messaging.onMessage(function(message) {
        addtonotifs(message)
    })
</script>
<script>
    function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        document.getElementById("settings_main").style.display = "inline-block";
        document.getElementById("emailform").value = profile.getEmail()
        document.getElementById("picurl").value = profile.getImageUrl()
        document.getElementById("emailform2").value = profile.getEmail()
        document.getElementById("email").value = profile.getEmail()
        document.getElementById("signinmsg").style.display = "none";
        document.getElementById("signinbtn").innerHTML = "<img alt='Profile'src=" + profile.getImageUrl() + " style='width: 24px; border-radius: 16px; border: 2px solid #d32f2f'>"
        document.getElementById("signinscreen").style.display = "none"
        document.getElementById("profilepage").style.display = "inline-block"
        document.getElementById("name").innerHTML = profile.getEmail()
        document.getElementById("profileimg").innerHTML = "<img alt='Profile Settings' id='profilepicture' src='" + profile.getImageUrl() + "?sz=1000' style='width: 15vw;'>"
        getusersettings(profile.getEmail())
        addprof()
        requestnotifs(messaging)
    }
    function signOut() {
        var a2 = gapi.auth2.getAuthInstance()
        a2.signOut().then(function() {
            window.location.reload()
        })
    }
    if ('$sdr'!='') {
        chat_action('$sdr')
    }
</script>
