$def with(content)
<html>
    <head>
        <title>Bavarder</title>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-114307532-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-114307532-3');
        </script>
        <link href="https://fonts.googleapis.com/css?family=Poppins:200" rel="stylesheet">
        <meta name="theme-color" content="#d32f2f">
        <link href="/material.css" type="text/css" rel="stylesheet">
        <link href="/toggle-md.css" type="text/css" rel="stylesheet">
        <link rel="manifest" href="/manifest.webmanifest">
        <meta name="google-signin-scope" content="profile email">
        <meta name="google-signin-client_id" content="878100810498-2vuvkmjq280vou2p2l5ksatl1ai39qpa.apps.googleusercontent.com">
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/bavarder.js"></script>
        <script src="/settings.js"></script>
        <script src="/msgscreen.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/5.5.4/firebase-messaging.js"></script>
        <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyCfxMM6szjWuTkHX_U55VLA5OTTNhCRmHo",
            authDomain: "lightningchat-1.firebaseapp.com",
            databaseURL: "https://lightningchat-1.firebaseio.com",
            projectId: "lightningchat-1",
            storageBucket: "lightningchat-1.appspot.com",
            messagingSenderId: "878100810498"
        };
        firebase.initializeApp(config);
        </script>
    </head>
    <body>
        $:content
    </body>
</html>

<script>
    function onSignIn(googleUser){
            // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
        document.getElementById("settings_main").style.display="inline-block";
        document.getElementById("emailform").value=profile.getEmail()
        document.getElementById("emailform2").value=profile.getEmail()
        document.getElementById("email").value=profile.getEmail()
        document.getElementById("signinmsg").style.display="none";
        document.getElementById("signinbtn").innerHTML="<img src="+profile.getImageUrl()+" style='width: 24; border-radius: 16px; border: 2px solid #d32f2f'>"
        document.getElementById("signinscreen").style.display="none"
        document.getElementById("profilepage").style.display="inline-block"
        document.getElementById("name").innerHTML=profile.getEmail()
        document.getElementById("profileimg").innerHTML="<img src='"+profile.getImageUrl()+"?sz=1000' style='width: 15vw;'>"
        getusersettings(profile.getEmail())
        // initnotif(firebase)
    };
    function initnotif(firebase) {
        const messaging = firebase.messaging();
        messaging.usePublicVapidKey("BEat4peY80_ogD6jOw3AdjTOse2qdWZIXdA-wFze1wgglklHmU8hoggS4FNZvl75QTqnoskAJOx-cL0ZVhgl9mc");

        messaging.requestPermission().then(function() {
        console.log('Notification permission granted.');
            // TODO(developer): Retrieve an Instance ID token for use with FCM.
            // ...
        }).catch(function(err) {
            console.log('Unable to get permission to notify.', err);
        });

        messaging.getToken().then(function(currentToken) {
            if (!currentToken) {
            // Show permission request.
            console.log('No Instance ID token available. Request permission to generate one.');
            // Show permission UI.
            updateUIForPushPermissionRequired();
            }
        }).catch(function(err) {
            console.log('An error occurred while retrieving token. ', err);
        });
        messaging.onTokenRefresh(function() {
            messaging.getToken().then(function(refreshedToken) {
            console.log('Token refreshed.');
            // Indicate that the new Instance ID token has not yet been sent to the
            // app server.
            // Send Instance ID token to app server.
            sendTokenToServer(refreshedToken);
            // ...
            }).catch(function(err) {
                console.log('Unable to retrieve refreshed token ', err);
            });
        });
    }
</script>
