$def with(content)
<html>
    <head>
        <title>Bavarder</title>
        <link href="https://fonts.googleapis.com/css?family=Poppins:200" rel="stylesheet">
        <link href="/material.css" type="text/css" rel="stylesheet">
        <link rel="manifest" href="/manifest.webmanifest">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/bavarder.js"></script>
    </head>
    <body>
        $:content
    </body>
</html>